
.E1 {
    background-color: rgba(133, 241, 254, 0.9);
}
.E2 {
    background-color: #21AEE4;
}
.E3 {
    background-color: #8DBAFE;
}
.E4 {
    background-color: #4663BE;
}

.dropdown-toggle::after {
    display:none;
}