
.E1 {
    background-color: #323332;
}
.E2 {
    background-color: #435241;
}
.E3 {
    background-color: #6d9459;
}
.E4 {
    background-color: #a6d969;
}

.dropdown-toggle::after {
    display:none;
}