<div class="container pt-4 bg-light" style="min-height: 484px;">
    <div class="row mb-3">
        <div class="col-12 col-md-6">


            <div class="card shadow-sm mb-2 text-center">
                <div class="card-header bg">
                    <h6 class="card-title m-0"> DATOS ACTUALES </h6>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Masa acumulada
                            <span class="badge text-dark rounded-pill bg" style="opacity: 0.8;">
                                {{lineaActual[0]}} KG </span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Densidad
                            <span class="badge text-dark rounded-pill bg" style="opacity: 0.8;">{{lineaActual[1]}}
                                <span> KG / MT<sup>3
                                    </sup> </span> </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Temperatura
                            <span class="badge text-dark rounded-pill bg" style="opacity: 0.8;">{{lineaActual[2]}}
                                <span> ° C </span>
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Caudal
                            <span class="badge text-dark rounded-pill bg" style="opacity: 0.8;">{{lineaActual[3]}}
                                <span> KG / HORA
                                </span> </span>
                        </li>
                    </ul>
                </div>

                <div class="card-footer text-end d-flex align-items-center">
                    <div class="d-flex me-auto justify-content-center">
                        <span class="me-3" style="margin-top: 2px;"> Frecuencia muestreo </span>
                        <select class="form-select form-select-sm w-auto" [(ngModel)]="frecuenciaMues">
                            <option value="100"> 100 ms </option>
                            <option value="250"> 250 ms </option>
                            <option value="500"> 500 ms </option>
                            <option value="1000"> 1000 ms </option>
                        </select>
                    </div>
                    <span style="font-size: 15px;"> Iteración <span class="text-black ms-2"> {{index}} </span> </span>
                </div>
            </div>

        </div>


        <div class="col-12 col-md-6">

            <div class="card shadow-sm" style="margin-bottom: 27px;">
                <div class="card-header bg text-center">
                    <h6 class="card-title m-0"> PASOS DE LA CARGA DE COMBUSTIBLE </h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex align-items-center">
                        <span class="badge text-bg-secondary me-1" style="font-size: 10px; margin-top: 3px;"> 1 </span>
                        Adjuntar la password de la orden de carga
                        <button type="button" class="btn btn-outline-success btn-sm ms-auto"
                            (click)="openModalPassw(template)" [disabled]="habilitado">
                            Adjuntar password</button>
                    </li>

                    <li class="list-group-item d-flex align-items-center flex-column">
                        <div>
                            <span class="badge text-bg-secondary me-1" style="font-size: 10px;"> 2 </span>
                            Cargar archivo CSV de los datos de carga
                        </div>
                        <input class="form-control form-control-sm w-auto mx-auto mt-2" type="file"
                            (change)="po($event)" accept=".csv">
                    </li>

                    <li class="list-group-item d-flex align-items-center">
                        <span class="badge text-bg-secondary me-1" style="font-size: 10px; margin-top: 3px;"> 3 </span>
                        Iniciar la carga de combustible
                        <button class="btn btn-outline-success btn-sm ms-auto" (click)="carga()"
                            [disabled]="habilitadoCarga">
                            Iniciar carga </button>
                    </li>

                    <li class="list-group-item d-flex align-items-center">
                        <span class="badge text-bg-secondary me-1" style="font-size: 10px; margin-top: 3px;"> 3 </span>
                        Parar la carga / Cerrar orden 
                        <button class="btn btn-outline-danger btn-sm ms-auto"
                            (click)="cancelar = true; habilitado = true" [disabled]="habilitado"> Cerrar orden / Parar
                            carga </button>
                    </li>

                </ul>
            </div>

        </div>
    </div>

    <div class="row">

        <div class="col-12">

            <progressbar [max]="200" [value]="166" type="primary" [striped]="true" [animate]="true"></progressbar>

            <div class="d-flex justify-content-between mt-3">
                <p> Tiempo transcurrido: </p>
                <p> Tiempo estimado: </p>
            </div>

        </div>

    </div>

</div>


<ng-template #template>
    <div class="modal-header">
        <h5 class="mb-0">Password de la orden de carga : {{orden.numeroOrden}}</h5>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body" [formGroup]="formPass">
        <div class="row gy-2">
            <div class="col-12">
                <div class="form-floating">
                    <input type="number" class="form-control" id="password" formControlName="password"
                        placeholder="Password" [class.is-invalid]="passwordInvalida">
                    <label for="password">Password</label>
                    <small class="text-danger" *ngIf="err">El password no coincide con el de la orden de carga</small>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()"> Cancelar </button>
        <button type="button" class="btn btn-primary" (click)="adjuPassw()"> Adjuntar password </button>
    </div>
</ng-template>