<div class="container bg-dark" style="min-height: 484px;">
    <div class="row mt-5 mb-4 align-items-center">
        <div class="col-12 col-md-6">

            <div class="card shadow-sm text-center">
                <div class="card-header bg">
                    <h6 class="card-title m-0"> DATOS ACTUALES </h6>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Masa acumulada
                            <span class="badge text-dark rounded-pill bg" style="opacity: 0.8;">
                                {{lineaActual[0]}} KG </span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Densidad
                            <span class="badge text-dark rounded-pill bg" style="opacity: 0.8;">{{lineaActual[1]}}
                                <span> KG / MT<sup>3
                                    </sup> </span> </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Temperatura
                            <span class="badge text-dark rounded-pill bg" style="opacity: 0.8;">{{lineaActual[2]}}
                                <span> ° C </span>
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Caudal
                            <span class="badge text-dark rounded-pill bg" style="opacity: 0.8;">{{lineaActual[3]}}
                                <span> KG / HORA
                                </span> </span>
                        </li>
                    </ul>
                </div>

                <div class="card-footer text-end d-flex align-items-center">
                    <div class="d-flex me-auto justify-content-center">
                        <span class="me-3" style="margin-top: 2px;"> Frecuencia muestreo </span>
                        <select class="form-select form-select-sm w-auto" [(ngModel)]="frecuenciaMues" (change)="intervalo()">
                            <option value="100"> 100 ms </option>
                            <option value="250"> 250 ms </option>
                            <option value="500"> 500 ms </option>
                            <option value="1000"> 1000 ms </option>
                        </select>
                    </div>
                    <span style="font-size: 15px;"> Iteración <span class="text-black ms-2"> {{index}} </span> </span>
                </div>
            </div>

        </div>


        <div class="col-12 col-md-6">

            <div class="card shadow-sm" >
                <div class="card-header bg text-center">
                    <h6 class="card-title m-0"> PASOS DE LA CARGA DE COMBUSTIBLE </h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex align-items-center">
                        <span class="badge text-bg-secondary me-1" style="font-size: 10px; margin-top: 3px;"> 1 </span>
                        Adjuntar la password de la orden de carga
                        <button type="button" class="btn btn-outline-success btn-sm ms-auto"
                            (click)="openModalPassw(template)" [disabled]="habilitado">
                            Adjuntar password</button>
                    </li>

                    <li class="list-group-item d-flex align-items-center flex-column">
                        <div>
                            <span class="badge text-bg-secondary me-1" style="font-size: 10px;"> 2 </span>
                            Cargar archivo CSV de los datos de carga
                        </div>
                        <input class="form-control form-control-sm w-auto mx-auto mt-2" type="file" [disabled]="habilitado2"
                            (change)="csv($event)" accept=".csv">
                    </li>

                    <li class="list-group-item d-flex align-items-center">
                        <span class="badge text-bg-secondary me-1" style="font-size: 10px; margin-top: 3px;"> 3 </span>
                        Iniciar la carga de combustible
                        <button class="btn btn-outline-success btn-sm ms-auto" (click)="carga()"
                            [disabled]="habilitado3">
                            Iniciar carga </button>
                    </li>

                    <li class="list-group-item d-flex align-items-center">
                        <span class="badge text-bg-secondary me-1" style="font-size: 10px; margin-top: 3px;"> 4 </span>
                        Parar la carga / Cerrar orden
                        <button class="btn btn-outline-danger btn-sm ms-auto" (click)="cerrarOrden()"
                            [disabled]="habilitado4"> Cerrar orden / Parar
                            carga </button>
                    </li>

                    <li class="list-group-item d-flex align-items-center">
                        <span class="badge text-bg-secondary me-1" style="font-size: 10px; margin-top: 3px;"> 5 </span>
                        Adjuntar el peso final
                        <button class="btn btn-outline-info btn-sm ms-auto" (click)="openModalPesoFinal(template3)"
                            [disabled]="habilitado5"> Adjuntar peso </button>
                    </li>

                </ul>
            </div>

        </div>
    </div>

    <div class="row">

        <div class="col-12">

            <progressbar [max]="max" [value]="actual" type="info" [striped]="true" [animate]="true">
            </progressbar>

            <div class="d-flex justify-content-between mt-3 bg-light rounded p-2 ps-3 pe-3">
                <p class="m-0"> Tiempo transcurrido: </p>
                <p class="m-0"> Tiempo estimado: </p>
            </div>

        </div>

    </div>

</div>


<ng-template #template>
    <div class="modal-header">
        <h5 class="mb-0">Password de la orden de carga : {{orden.numeroOrden}}</h5>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body" [formGroup]="formPass">
        <div class="row gy-2">
            <div class="col-12">
                <div class="form-floating">
                    <input type="number" class="form-control" id="password" formControlName="password"
                        placeholder="Password" [class.is-invalid]="passwordInvalida">
                    <label for="password">Password</label>
                    <small class="text-danger" *ngIf="err">El password no coincide con el de la orden de carga</small>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()"> Cancelar </button>
        <button type="button" class="btn btn-primary" (click)="adjuPassw()"> Adjuntar password </button>
    </div>
</ng-template>




<ng-template #template3>
    <div class="modal-header">
        <h5 class="mb-0">Peso final de la orden de carga : {{orden.numeroOrden}}</h5>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body" [formGroup]="formPesoF">
        <div class="row gy-2">
            <div class="col-12">
                <div class="form-floating">
                    <input type="number" class="form-control" id="pesoFinal" formControlName="pesoFinal"
                        placeholder="Ej: 15000" [class.is-invalid]="pesoFinalInvalido">
                    <label for="pesoFinal">Peso final</label>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()"> Cancelar </button>
        <button type="button" class="btn btn-primary" (click)="adjuntarPesoF()"> Adjuntar peso final </button>
    </div>
</ng-template>


<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="childModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="childModalLabel">Conciliación de la orden n° {{conciliacion.numeroOrden}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="childModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="card shadow-sm mb-2 text-center">
                            <div class="card-body p-1">
                                <div class="d-flex justify-content-around align-items-baseline">
                                    <p class="mb-0"> Peso inicial y final: <br> 
                                        {{conciliacion.pesoInicial}} / {{conciliacion.pesoFinal}} </p>
                                </div>
                            </div>
                        </div>

                        <div class="card shadow-sm mb-2 text-center">
                            <div class="card-body p-1">
                                <div class="d-flex justify-content-around align-items-baseline">
                                    <p class="mb-0"> Neto balanza y diferencia con caudal: <br> 
                                        {{conciliacion.netoBalanza}} / {{conciliacion.difBalanzaYCaudal}} </p>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                    <div class="col-6">
                        <div class="card shadow-sm mb-2 text-center">
                            <div class="card-body p-1">
                                <div class="d-flex justify-content-around align-items-baseline">
                                    <p class="mb-0"> Masa acumulada total y caudal promedio: <br> 
                                        {{conciliacion.masaAcumuladaTotal}} / {{conciliacion.caudalPromedio}} </p>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow-sm mb-2 text-center">
                            <div class="card-body p-1">
                                <div class="d-flex justify-content-around align-items-baseline">
                                    <p class="mb-0"> Temperatura y densidad promedio: <br> 
                                        {{conciliacion.temperaturaPromedio}} / {{conciliacion.densidadPromedio}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="childModal.hide()"> Aaceptar </button>
            </div>
        </div>
    </div>
</div>