<div class="container">
	<div class="row" style="min-height: 484px;">
		<div class="col-6 text-white text-center justify-content-center d-flex flex-column">
			<img src="../../../assets/PC (1).svg" class="mb-3" style="max-height: 100px;">
			<h4>Sistema de Gestión de Ordenes de Carga</h4>
			<p>Por favor ingrese sus datos para iniciar sesión</p>
		</div>

		<div class="col-6 justify-content-center d-flex flex-column">
			<div class="card text-center">

				<div class="card-header bg">
					<h5 class="card-title m-0">Iniciar Sesión</h5>
				</div>
				<div class="card-body" [formGroup]="formLogin">
					<div class="row mb-2">

						<div class="input-group input-group-sm w-100 me-2">
							<span class="input-group-text" id="nombre">
								<i class="bi bi-person"></i>
							</span>
							<input type="email" class="form-control form-control-sm" aria-describedby="nombre"
								placeholder="name@example.com" [class.is-invalid]="userEmailInvalido"
								formControlName="userEmail">
						</div>

					</div>

					<div class="row mb-2">

						<div class="input-group input-group-sm w-100">
							<span class="input-group-text" id="password">
								<i class="bi bi-lock"></i>
							</span>
							<input type="password" class="form-control form-control-sm" aria-describedby="password"
								placeholder="Contraseña" [class.is-invalid]="passwordLogInvalida"
								[type]="mostrarCon3 ? 'password' : 'text'" formControlName="password">
							<span class="input-group-text cursor-pointer" id="basic-addon1"
								(click)="mostrarCon3 = !mostrarCon3">
								<i class="bi" [ngClass]="mostrarCon3 ? 'bi-eye' : 'bi-eye-slash'"></i>
							</span>
						</div>

					</div>
				</div>

				<div class="card-footer bg-white">
					<button class="btn btn-primary btn-sm" [disabled]="formLogin.invalid"
						(click)="login()">Iniciar Sesión</button>
				</div>

			</div>
		</div>
		
	</div>
</div>

<app-loading [load]="loading"></app-loading>