<div class="container">
	<div class="row">
		<div class="col-12 col-lg-6 offset-lg-3">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Ingresar</h3>
				</div>
				<div class="card-body">
					<form [formGroup]="formLogin" (ngSubmit)="login()">
						<div class="form-group">
							<label for="email">Email</label>
							<input type="email" class="form-control" id="email" formControlName="email">
						</div>
						<div class="form-group">
							<label for="password">Contraseña</label>
							<input type="password" class="form-control" id="password" formControlName="password">
						</div>
						<button type="submit" class="btn btn-primary" [disabled]="!formLogin.valid">Ingresar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal" id="modalIngresar" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"> Ingresar al sistema </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" [formGroup]="formLogin">
				<div class="row gy-2">
					<div class="col-12">
						<div class="form-floating">
							<input type="email" class="form-control" id="emailInputLogin" formControlName="userEmail"
								placeholder="name@example.com" [class.is-invalid]="userEmailInvalido">
							<label for="emailInputLogin">Email</label>
						</div>
					</div>
					<div class="col-12">
						<div class="input-group">
							<div class="form-floating form-floating-group flex-grow-1">
								<input type="password" class="form-control" formControlName="password"
									id="passwordInputLogin" placeholder="Contraseña"
									[class.is-invalid]="passwordLogInvalida" [type]="mostrarCon3 ? 'password' : 'text'">
								<label for="passwordInputLogin">Contraseña</label>
							</div>
							<span class="input-group-text cursor-pointer" id="basic-addon1"
								(click)="mostrarCon3 = !mostrarCon3">
								<i class="bi" [ngClass]="mostrarCon3 ? 'bi-eye' : 'bi-eye-slash'"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Cerrar </button>
				<button type="button" class="btn btn-primary" (click)="login()"> Ingresar </button>
			</div>
		</div>
	</div>
</div>