<div class="container pt-3">
	<div class="row mb-2">
		<div class="col text-white text-center">
			<h4> Administración de usuarios </h4>
		</div>
	</div>
	<div class="row">
		<div class="col table-responsive">
			<table class="table table-bordered text-white mx-auto" style="font-size: 13px; width: max-content;">
				<thead>
					<tr>
						<th> ID </th>
						<th> Nombre </th>
						<th> Apellido </th>
						<th> Email </th>
						<th> Activo </th>
						<th> Roles </th>
						<th> Acciones </th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let user of users; let i = index ">
						<td> {{ user.id }} </td>
						<td> {{ user.nombre }} </td>
						<td> {{ user.apellido }} </td>
						<td> {{ user.email }} </td>
						<td> <span class="badge rounded-pill"
								[ngClass]="{'text-bg-primary': user.enabled, 'text-bg-danger': !user.enabled}">
								{{ user.enabled ? 'Activo' : 'Inactivo' }}
							</span></td>
						<td class="d-flex flex-column">
							<p *ngFor="let rol of user.roles; let ind = index"
								class="badge mb-0 rounded-pill text-bg-warning"
								[ngClass]="{'mt-0': ind == 0, 'mt-1': ind > 0}"> {{rol.nombre}} </p>
						</td>
						<td class="dropdown text-end">
							<i class="bi bi-three-dots-vertical dropdown-toggle cursor-pointer" id="dropdownAcc"
								data-bs-toggle="dropdown"></i>
							<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAcc"
								style="font-size: 13px;">
								<li class="dropdown-item cursor-pointer" (click)="actDesac(i)"> {{ user.enabled ?
									'Desactivar' : 'Activar' }} </li>
								<li class="dropdown-item" (click)="openModal(template, i)">Cambiar roles</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>



<ng-template #template>

	<div class="modal-header">
		<h5 class="mb-0"> Roles del usuario {{user.nombre}} {{user.apellido}}</h5>
		<button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
			<span aria-hidden="true" class="visually-hidden">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-12">
				<div class="card p-2 px-3">
					<p class="card-text mb-1 text-success" style="font-size: 15px;"> Roles a desarrollar </p>
					<ng-container [formGroup]="form">
						<div class="d-flex justify-content-between">
							<ng-container *ngFor="let rol of roles; let i = index">
								<div class="form-check form-check-inline" [formGroupName]="rol.nombre">
									<input class="form-check-input" formControlName="seleccionado" type="checkbox"
										[id]="i" [name]="i">
									<label class="form-check-label" [for]="i" style="font-size: 14px;"> {{rol.nombre}}
									</label>
								</div>
							</ng-container>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="cambiarRoles()">Confirmar</button>
	</div>
</ng-template>