<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container">

        <a class="navbar-brand" href="">
            <img src="../../../assets/PC (1).svg" class="d-inline-block align-text-top img-fluid"
                style="max-height: 70px;">
        </a>

        <!-- <a class="btn btn-outline-primary ms-auto me-2 d-block d-lg-none" href=""> USUARIO </a> -->

        <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler">
            <span class="navbar-toggler-icon"></span> </button>

        <div id="navbarSupportedContent" class="collapse navbar-collapse justify-content-center text-center">
            <ul class="navbar-nav">
                <a class="nav-link active" href=""> Inicio </a>
                <a class="nav-link active" href=""> Panel </a>
            </ul>

            <div class="dropdown d-lg-none">
                <a class="btn btn-outline-warning dropdown-toggle" href="" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Usuario
                </a>

                <ul class="dropdown-menu dropdown-menu-lg-end text-center" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>

        <div class="dropdown d-none d-lg-block">
            <a class="btn btn-outline-warning dropdown-toggle" href="" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                Usuario
            </a>

            <ul class="dropdown-menu dropdown-menu-lg-end text-center" aria-labelledby="dropdownMenuLink">
                <li><a role="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalRegistrarse">
                        Registrarse </a></li>
                <li><a role="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalIngresar">
                        Ingresar </a> </li>

            </ul>
        </div>



    </div>
</nav>

<div class="modal fade" id="modalRegistrarse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Registrarse en el sistema </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" [formGroup]="form">
                <div class="row gy-2">
                    <div class="col-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="nombreInput" formControlName="nombre"
                                placeholder="Nombre" [class.is-invalid]="nombreInvalido">
                            <label for="nombreInput">Nombre</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="apellidoInput" formControlName="apellido"
                                placeholder="Apellido" [class.is-invalid]="apellidoInvalido">
                            <label for="apellidoInput">Apellido</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="email" class="form-control" id="emailInput" formControlName="email"
                                placeholder="name@example.com" [class.is-invalid]="emailInvalido">
                            <label for="emailInput">Email</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group">
                            <div class="form-floating form-floating-group flex-grow-1">
                                <input type="password" class="form-control" formControlName="password" id="passwordInput"
                                    placeholder="Contraseña" [class.is-invalid]="passwordInvalida"
                                    [type]="mostrarCon1 ? 'password' : 'text'">
                                <label for="passwordInput">Contraseña</label>
                            </div>
                            <span class="input-group-text cursor-pointer" id="basic-addon1"
                                (click)="mostrarCon1 = !mostrarCon1">
                                <i class="bi" [ngClass]="mostrarCon1 ? 'bi-eye' : 'bi-eye-slash'"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group">
                            <div class="form-floating form-floating-group flex-grow-1">
                                <input type="password" class="form-control" id="passwordInput2"
                                    placeholder="Repetir contraseña" formControlName="password2"
                                    [class.is-invalid]="passwordInvalida2 || passwordDistinta"
                                    [type]="mostrarCon2 ? 'password' : 'text'">
                                <label for="passqordInput2">Repetir contraseña</label>
                            </div>
                            <span class="input-group-text cursor-pointer" id="basic-addon1"
                                (click)="mostrarCon2 = !mostrarCon2">
                                <i class="bi" [ngClass]="mostrarCon2 ? 'bi-eye' : 'bi-eye-slash'"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Cancelar </button>
                <button type="button" class="btn btn-primary"> Registrarse </button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalIngresar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Ingresar al sistema </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row gy-2">
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="email" [(ngModel)]="email"
                                class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group">
                            <div class="form-floating form-floating-group flex-grow-1">
                                <input [(ngModel)]="password"
                                    [type]="!showPass ? 'password' : 'text'" class="form-control"
                                    aria-describedby="basic-addon1"
                                    type="password" id="floatingInput" placeholder="Contraseña">
                                <label for="floatingInput">Contraseña</label>
                            </div>
                            <span class="input-group-text cursor-pointer" id="basic-addon1" (click)="showPassword()">
                                <i class="bi" [ngClass]="{
                                    'bi-eye-slash': showPass,
                                    'bi-eye': !showPass}"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Cerrar </button>
                <button type="button" class="btn btn-primary" (click)="ingresar()"> Ingresar </button>
            </div>
        </div>
    </div>
</div>