@import "../node_modules/bootstrap/scss/bootstrap.scss";

$font-family-base: 'Poppins', sans-serif; // Fuente base

// $primary: $primario; //Color principal
// $secondary: $secundario; //Color secundario

$enable-negative-margins: true;

.cursor-pointer{
    cursor: pointer;
};