@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables.scss";

$font-family-base: 'Poppins', sans-serif; // Fuente base

// $primary: $primario; //Color principal
// $secondary: $secundario; //Color secundario

$enable-negative-margins: true;

.bg {
    background-color: #C9FC6E;
}

.cursor-pointer{
    cursor: pointer;
};