
@import "variables.scss";

$font-family-base: 'Cantarell'; // Fuente base

$primary: #C9FC6E; //Color principal
// $secondary: $secundario; //Color secundario

$enable-negative-margins: true;

.bg {
    background-color: #C9FC6E !important;
}

.cursor-pointer{
    cursor: pointer;
};

.boton {
    background-color: #C9FC6E;
    border-color: #C9FC6E;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #C9FC6E;
  }

  @import "../node_modules/bootstrap/scss/bootstrap.scss";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
