<footer class="bg-dark">

    <div class="container-fluid pt-4 pb-3">
        <div class="row">
            <div class="col-12 text-white text-center">

                <ul class="list-inline mt-1">
                    <li class="list-inline-item"> Powered by: </li>
                    <li class="list-inline-item me-3"><a target="_blank" href="https://www.linkedin.com/in/leonel-pacha" class="link-light text-decoration-none"><i class="bi bi-linkedin"></i> Leonel Pacha </a></li>
                    <li class="list-inline-item me-3" style="font-size: 14px;"> & </li>
                    <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/canoeliana99" class="link-light text-decoration-none"><i class="bi bi-linkedin"></i> Eliana Cano </a></li>
                </ul>

                <ul class="list-inline mb-4 mt-4">

                    <li class="list-inline-item"> Ingeniería Web III - 2021 - IUA </li>
                </ul>
            </div>
        </div>

    </div>

</footer>